    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>

    <link rel="stylesheet" href="./assets/styles.css" />

    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="cart">Cart({{ cart }})</div>
        <div class="product-display">
          <div class="product-container">
            <div class="product-image">
            <img :src='image'>
            </div>
            <div class="product-info">
              <h1>{{ product }}</h1>
              <p>{{ description }}</p>
              <ul>
                <li v-for="experience in experiences"> {{ experience }} </li>
              </ul>
              <p v-show="discount">İndirimli fiyat!!!</p>
              <p v-if="available > 6">Kölemiz haftanın {{available}} günü boşta!</p>
              <p v-else-if="available <= 6 && available > 0">Kölemiz çok popüler, {{available}} gün boşta...</p>
              <p v-else="available">Kölemiz dolu! ｡･ﾟヾ(✦థ ｪ థ)ﾉ｡ﾟ･｡</p>
              <a :href='url'>Kölenin OnlyFans'i</a>
              <ul>
                <li v-for="variant in variants" @mouseover="updateImage(variant.image)"> {{ variant.age }} </li>
              </ul>
              <ul>
                <li v-for="furryStyle in furryStyles"> {{ furryStyle }} </li>
              </ul>
              <button class="button" @click="addToCart">Biat Ettir⛓️</button>
            <button class="button" @click="removeFromCart"> Azad Et👋</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Import App --> 
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp= app.mount('#app')
    </script>

  </body>
</html>